  <nav class="navbar bg-dark" >
    <div class="container">
    <a routerLink="home" class="navbar navbar-brand text-white text-left" >FOX - Your favourite series in one place</a>
      <ul class="nav">
        <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="nav-link text-white">Home</a></li>
        <li class="nav-item"><a routerLink="series" routerLinkActive="active" class="nav-link text-white">Series</a></li>
        <li class="nav-item"><a routerLink="contact" routerLinkActive="active" class="nav-link text-white">Contact Us</a></li>
        <li class="nav-item"><a routerLink="about" routerLinkActive="active" class="nav-link text-white">About</a></li>
      </ul>
    </div>
  </nav>


